{% extends "sidebar.html" %} {% block div %}

<div class = "page-header"> 
Your Friends
</div>

<div class = "row ml-1 mt-5">
    <!-- RELATIVES CARD -->
    <div class = "col-4 mycard mr-2 scroll">
        <div class = "friend-header">
            Relatives
        </div>

        <hr>

        <div class = "list-friends">
            <div class = "mb-3 relative">
                <div class = "thumbnail-pic">
                    <img> 
                </div>
                <div class = "post-title">
                    <span class = "post-name tiny ml-2">Friend's Name</span>
                </div>
            </div>                 
        </div>   
    </div>

      <!-- SCHOOL CARD -->
    <div class = "col-4 mycard mr-2 scroll">
        <div class = "friend-header">
            School
        </div>

        <hr>

        <div class = "list-friends">
            <div class = "mb-3 relative">
                <div class = "thumbnail-pic">
                    <img> 
                </div>
                <div class = "post-title">
                    <span class = "post-name tiny ml-2">Friend's Name</span>
                </div>
            </div>     
        </div>

    </div>

      <!-- WORK CARD -->

    <div class = "col-4 mycard mr-2 scroll">
        <div class = "friend-header">
            Work
        </div>

        <hr>

        <div class = "list-friends">
            <div class = "mb-3 relative">
                <div class = "thumbnail-pic">
                    <img> 
                </div>
                <div class = "post-title">
                    <span class = "post-name tiny ml-2">Friend's Name</span>
                </div>
            </div>     
        </div>   
    </div>

</div>

{% endblock %}